<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Friendium" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link href="https://fonts.googleapis.com/css?family=Kurale|ABeeZee" rel="stylesheet">
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="sign_in_bar">

      <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Welcome to Friendium</h2>
        <p class="lead">Instructions coming soon!</p>
        <p></p>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>

      <ul id="sign_in_ul">
      <% if current_user  %>
        <li class="link"> <%= link_to "Logout", logout_path %> <a class="getting-started" href="#" data-reveal-id="myModal">Getting started!</a></li>
      <% else %>
        <li class="link"><%= link_to "Sign in with Google", "/auth/google" %></li>
      <% end %>
      </ul>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
